/* TOP BAR */
.top-bar {
  background: linear-gradient(90deg, #00b7bb, #009fa5);
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;

}

/* MAIN HEADER */
.header-main {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 12px;
  background: white;
}


/* SEARCH */
.header-search {
  display: flex;
  align-items: center;
  border: 2px solid #00b7bb;
  border-radius: 999px;
  padding: 10px 18px;
  width: 50%;
  gap: 12px;
}

.search-category {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  color: #333;
  cursor: pointer;
}

.header-search input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 15px;
}

.header-search i {
  font-size: 20px;
  color: #00b7bb;
  cursor: pointer;
}

/* ACTION ICONS */
.header-actions {
  display: flex;
  gap: 18px;
}

.icon-circle {
  width: 40px;
  height: 40px;
  background: #00b7bb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background: white;
  color: #00b7bb;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NAVIGATION */
.header-nav {
  display: flex;
  justify-content: center;
  gap: 38px;
  padding: 18px 0;
  border-top: 1px solid #eee;
}

.header-nav a {
  font-size: 17px;
  font-weight: 500;
  color: #111;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-nav a i {
  font-size: 16px;
}

.header-nav a:hover,
.header-nav a.active {
  color: #00b7bb;
}

.header-nav a.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 3px;
  width: 100%;
  background: #111;
}
