.finance-hero {
  width: 100%;
  min-height: 100vh;
  background: #004a6b; /* fallback blue */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Make image behave like background */
.finance-hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;       /* fills screen */
  object-position: center;
  display: block;
}


/* section 2  */

.finance-benefits {
  background: #000;
  padding: 100px 12%;
  color: #fff;
  border-radius: 40px 40px 0 0; /* only top corners rounded */
  margin: 0; /* remove spacing */
  position: relative;
  /* z-index: 10; */
}



.finance-wrapper {
  max-width: 1200px;
  margin: auto;
}

.finance-item {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  margin-bottom: 50px;
}

.tick {
  color: #19d600;
  font-size: 36px;
  font-weight: bold;
  margin-top: 5px;
  text-shadow: 0 0 8px rgba(25, 214, 0, 0.7);
}

.finance-item h3 {
  font-size: 42px;
  font-weight: 800;
  margin: 0 0 10px;
}

.finance-item p {
  font-size: 18px;
  line-height: 1.6;
  color: #e0e0e0;
  max-width: 700px;
}

/* Responsive */
@media (max-width: 768px) {
  .finance-benefits {
    padding: 60px 6%;
  }

  .finance-item h3 {
    font-size: 28px;
  }

  .finance-item {
    gap: 15px;
  }

  .tick {
    font-size: 28px;
  }
}
